* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    max-width: 480px;
    height: auto;
}

header {
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
    height: 50px;
}

.logo {
    width: auto;
    height: 30px;
    margin-top: 10px;
}

.chat {
    width: auto;
    height: 45px;
}

.chatdiv {
    width: 50px;
    height: 50px;
    padding: 2.5px;
    margin-left: auto;
}

.spaceheader {
    max-width: 480px;
    height: 50px;
}

main {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    max-width: 480px;
    height: auto;
    padding-top: 20px;
    background-color: lightblue;
}

.maindiv {
    width: 140px;
    height: 270px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
}

